name = "Parquet"
uuid = "626c502c-15b0-58ad-a749-f091afb673ae"
keywords = ["parquet", "julia", "columnar-storage"]
license = "MIT"
desc = "Julia implementation of parquet columnar file format reader and writer"
version = "0.8.6"

[deps]
CategoricalArrays = "324d7699-5711-5eae-9e2f-1d82baa6b597"
CodecZlib = "944b1d66-785c-5afd-91f1-9de20f533193"
CodecZstd = "6b39b394-51ab-5f42-8807-6242bab2b4c2"
DataAPI = "9a962f9c-6df0-11e9-0e5d-c546b8b5ee8a"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Decimals = "abce61dc-4473-55a0-ba07-351d65e31d42"
LittleEndianBase128 = "1724a1d5-ab78-548d-94b3-135c294f96cf"
Missings = "e1d29d7a-bbdc-5cf2-9ac0-f12de2c33e28"
Mmap = "a63ad114-7e13-5084-954f-fe012c677804"
SentinelArrays = "91c51154-3ec4-41a3-a24f-3f23e20d615c"
Snappy = "59d4ed8c-697a-5b28-a4c7-fe95c22820f9"
Tables = "bd369af6-aec1-5ad0-b16a-f7cc5008161c"
Thrift = "8d9c9c80-f77e-5080-9541-c6f69d204e22"

[compat]
CategoricalArrays = "0.6,0.7,0.8,0.9,0.10, 1"
CodecZlib = "0.5,0.6,0.7,0.8"
CodecZstd = "0.6,0.7,0.8"
DataAPI = "1"
Decimals = "0.4"
LittleEndianBase128 = "0.3"
Missings = "0.3,0.4,1"
SentinelArrays = "1"
Snappy = "0.3, 0.4"
Tables = "1.6"
Thrift = "0.8"
julia = "1.3"

[extras]
Artifacts = "56f22d72-fd6d-98f1-02f0-08ddc0907c33"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Artifacts", "LazyArtifacts", "Random", "Test"]
